<script>
function play() {
       var audio = document.getElementById('audio');

       audio.ontimeupdate = function() {
         document.getElementById("timer").innerHTML = Math.floor(audio.currentTime) + ' : ' + Math.floor(audio.duration);
       };
       audio.onended = function() {
         $('#play').removeClass('icon-control-pause i-x')
       };
       if (audio.paused) {
           audio.play();
           $('#play').addClass('icon-control-pause i-x')
       } else{
           audio.pause();
           audio.currentTime = 0
           $('#play').removeClass('icon-control-pause i-x')
       }
   }
  </script>
<section>
    <section class="vbox">
        <section class="scrollable padder-lg w-f-md" id="bjax-target"><a
                href="http://flatfull.com/themes/musik/index.html#"
                class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i
                class="icon-refresh i-lg inline" id="refresh"></i></a>
            <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm"
                                                     style="width:20px;height:20px"> <span
                    class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span
                    class="bar3 a3 bg-success"></span> <span
                    class="bar4 a4 bg-warning dk"></span> <span
                    class="bar5 a5 bg-danger dker"></span> </span></h2>
            <div class="row row-sm">
              <% @tracks.each do |track| -%>
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" >
                    <audio id="audio" src="<%= track.audio.url %>" ></audio>
                    <div class="item">
                        <div class="pos-rlt" >
                            <div class="bottom"  ><span id = "timer"
                                    class="badge bg-info m-l-sm m-b-sm">0:00
                                    </span></div>
                            <div class="item-overlay opacity r r-2x bg-black" >
                                <div class="text-info padder m-t-sm text-sm" ><i
                                        class="fa fa-star" ></i> <i class="fa fa-star"></i> <i
                                        class="fa fa-star" ></i> <i class="fa fa-star"></i> <i
                                        class="fa fa-star-o text-muted" ></i></div>
                                <div class="center text-center m-t-n" ><a><i
                                        id="play"
                                        class="icon-control-play i-2x"
                                        onclick="play()"></i></a></div>
                                <div class="bottom padder m-b-sm" ><a
                                        class="pull-right" > <i class="fa fa-heart-o"></i> </a> <a> <i
                                        class="fa fa-plus-circle" ></i> </a></div>
                            </div>
                            <a><img
                                    src="/assets/p1.jpg" alt=""
                                    class="r r-2x img-full"></a></div>
                        <div class="padder-v" >
                          <a class="text-ellipsis"> <%= track.title %> </a>
                       </div>
                    </div>
                </div>
                <div class="clearfix visible-xs"></div>
             <% end %>
            </div>
            <div class="row">
                <div class="col-md-7"><h3 class="font-thin">New Songs</h3>
                    <div class="row row-sm">
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a2.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Spring rain</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Miaow</a></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a3.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Hope</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Miya</a></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a8.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Listen wind</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Soyia Jess</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a9.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Breaking me</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Pett JA</a></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a1.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Nothing</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Willion</a></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a6.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Panda Style</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Lionie</a></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a7.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Hook Me</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Gossi</a></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="item">
                                <div class="pos-rlt">
                                    <div class="item-overlay opacity r r-2x bg-black">
                                        <div class="center text-center m-t-n"><a
                                                href="http://flatfull.com/themes/musik/index.html#"><i
                                                class="fa fa-play-circle i-2x"></i></a></div>
                                    </div>
                                    <a href="http://flatfull.com/themes/musik/index.html#"><img
                                            src="./assets/a5.png" alt=""
                                            class="r r-2x img-full"></a></div>
                                <div class="padder-v"><a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis">Tempered Song</a> <a
                                        href="http://flatfull.com/themes/musik/index.html#"
                                        class="text-ellipsis text-xs text-muted">Miaow</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5"><h3 class="font-thin">Top Songs</h3>
                    <div class="list-group bg-white list-group-lg no-bg auto"><a
                            href="http://flatfull.com/themes/musik/index.html#"
                            class="list-group-item clearfix"> <span
                            class="pull-right h2 text-muted m-l">1</span> <span
                            class="pull-left thumb-sm avatar m-r"> <img
                            src="./assets/a4.png" alt="..."> </span> <span
                            class="clear"> <span>Little Town</span> <small
                            class="text-muted clear text-ellipsis">by Chris Fox</small> </span> </a>
                        <a href="http://flatfull.com/themes/musik/index.html#"
                           class="list-group-item clearfix"> <span
                                class="pull-right h2 text-muted m-l">2</span> <span
                                class="pull-left thumb-sm avatar m-r"> <img
                                src="./assets/a5.png" alt="..."> </span>
                            <span class="clear"> <span>Lementum ligula vitae</span> <small
                                    class="text-muted clear text-ellipsis">by Amanda Conlan</small> </span>
                        </a> <a href="http://flatfull.com/themes/musik/index.html#"
                                class="list-group-item clearfix"> <span
                                class="pull-right h2 text-muted m-l">3</span> <span
                                class="pull-left thumb-sm avatar m-r"> <img
                                src="./assets/a6.png" alt="..."> </span>
                            <span class="clear"> <span>Aliquam sollicitudin venenatis</span> <small
                                    class="text-muted clear text-ellipsis">by Dan Doorack</small> </span>
                        </a> <a href="http://flatfull.com/themes/musik/index.html#"
                                class="list-group-item clearfix"> <span
                                class="pull-right h2 text-muted m-l">4</span> <span
                                class="pull-left thumb-sm avatar m-r"> <img
                                src="./assets/a7.png" alt="..."> </span>
                            <span class="clear"> <span>Aliquam sollicitudin venenatis ipsum</span> <small
                                    class="text-muted clear text-ellipsis">by Lauren Taylor</small> </span>
                        </a> <a href="http://flatfull.com/themes/musik/index.html#"
                                class="list-group-item clearfix"> <span
                                class="pull-right h2 text-muted m-l">5</span> <span
                                class="pull-left thumb-sm avatar m-r"> <img
                                src="./assets/a8.png" alt="..."> </span>
                            <span class="clear"> <span>Vestibulum ullamcorper</span> <small
                                    class="text-muted clear text-ellipsis">by Dan Doorack</small> </span>
                        </a></div>
                </div>
            </div>
            <div class="row m-t-lg m-b-lg">
                <div class="col-sm-6">
                    <div class="bg-primary wrapper-md r"><a
                            href="http://flatfull.com/themes/musik/index.html#"> <span
                            class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Login or Create account</span>
                        <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
                    </a></div>
                </div>
                <div class="col-sm-6">
                    <div class="bg-black wrapper-md r"><a
                            href="http://flatfull.com/themes/musik/index.html#"> <span
                            class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> Download our app</span>
                        <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.</span>
                    </a></div>
                </div>
            </div>
        </section>

    </section>
</section>
