  <script>
    function play() {
       var audio = document.getElementById('audio');
       audio.onended = function() {
         $('#play').removeClass('icon-control-pause i-x')
       };
       if (audio.paused) {
           audio.play();
           $('#play').addClass('icon-control-pause i-x')
       } else {
           audio.pause();
           audio.currentTime = 0
           $('#play').removeClass('icon-control-pause i-x')
       }
     }
  </script>
<section>
    <section class="vbox">
      <section class="scrollable padder-lg w-f-md" id="bjax-target"><a
              href="http://flatfull.com/themes/musik/index.html#"
              class="pull-right text-muted m-t-lg" data-toggle="class:fa-spin"><i
              class="icon-refresh i-lg inline" id="refresh"></i></a>
          <h2 class="font-thin m-b">Discover <span class="musicbar animate inline m-l-sm"
                                                   style="width:20px;height:20px"> <span
                  class="bar1 a1 bg-primary lter"></span> <span class="bar2 a2 bg-info lt"></span> <span
                  class="bar3 a3 bg-success"></span> <span
                  class="bar4 a4 bg-warning dk"></span> <span
                  class="bar5 a5 bg-danger dker"></span> </span></h2>
          <div class="row row-sm">
            <% @tracks.each do |track| -%>
              <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" >
                  <audio id="audio" src="<%= track.audio.url %>" ></audio>
                  <div class="item">
                      <div class="pos-rlt" >
                          <div class="bottom"  ><span
                                  class="badge bg-info m-l-sm m-b-sm" >
                                  </span></div>
                          <div class="item-overlay opacity r r-2x bg-black" >
                              <div class="text-info padder m-t-sm text-sm" ><i
                                      class="fa fa-star" ></i> <i class="fa fa-star"></i> <i
                                      class="fa fa-star" ></i> <i class="fa fa-star"></i> <i
                                      class="fa fa-star-o text-muted" ></i></div>
                              <div class="center text-center m-t-n" ><a><i
                                      id="play"
                                      class="icon-control-play i-2x"
                                      onclick="play()"></i></a></div>
                              <div class="bottom padder m-b-sm" ><a
                                      class="pull-right" > <i class="fa fa-heart-o"></i> </a> <a> <i
                                      class="fa fa-plus-circle" ></i> </a></div>
                          </div>
                          <a><img
                                  src="/assets/p1.jpg" alt=""
                                  class="r r-2x img-full"></a></div>
                      <div class="padder-v" >
                        <a class="text-ellipsis"> <%= track.title %> </a>
                     </div>
                  </div>
              </div>
              <div class="clearfix visible-xs"></div>
           <% end %>
          </div>
      </section>

        <footer class="footer bg-dark">
            <div id="jp_container_N" class="jp-video-270p">
                <div class="jp-type-playlist">
                    <div id="jplayer_N" class="jp-jplayer hide"
                         style="width: 480px; height: 270px;"><img id="jp_poster_0"
                                                                   src="./assets/m0.jpg"
                                                                   style="width: 480px; height: 270px; display: inline;">
                        <audio id="jp_audio_0" preload="metadata"
                               src="http://flatfull.com/themes/assets/musics/Miaow-07-Bubble.ogg"
                               title="Bubble"></audio>
                        <video id="jp_video_0" preload="metadata" title="Bubble"
                               style="width: 0px; height: 0px;"></video>
                    </div>
                    <div class="jp-gui">
                        <div class="jp-video-play hide" style="display: none;"><a
                                class="jp-video-play-icon">play</a></div>
                        <div class="jp-interface">
                            <div class="jp-controls">
                                <div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a>
                                </div>
                                <div><a class="jp-play" style="display: none;"><i
                                        class="icon-control-play i-2x"></i></a> <a
                                        class="jp-pause hid" style="display: inline;"><i
                                        class="icon-control-pause i-2x"></i></a></div>
                                <div><a class="jp-next"><i
                                        class="icon-control-forward i-lg"></i></a></div>
                                <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a>
                                </div>
                                <div><a class="" data-toggle="dropdown" data-target="#playlist"><i
                                        class="icon-list"></i></a></div>
                                <div class="jp-progress hidden-xs">
                                    <div class="jp-seek-bar dk" style="width: 100%;">
                                        <div class="jp-play-bar bg-info"
                                             style="width: 15.5926%;"></div>
                                        <div class="jp-title text-lt" style="display: none;">
                                            Bubble
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted">
                                    00:32
                                </div>
                                <div class="hidden-xs hidden-sm jp-duration text-xs text-muted">
                                    03:29
                                </div>
                                <div class="hidden-xs hidden-sm"><a class="jp-mute" title="mute"><i
                                        class="icon-volume-2"></i></a> <a class="jp-unmute hid"
                                                                          title="unmute"
                                                                          style="display: none;"><i
                                        class="icon-volume-off"></i></a></div>
                                <div class="hidden-xs hidden-sm jp-volume">
                                    <div class="jp-volume-bar dk">
                                        <div class="jp-volume-bar-value lter"
                                             style="width: 80%;"></div>
                                    </div>
                                </div>
                                <div><a class="jp-shuffle" title="shuffle"><i
                                        class="icon-shuffle text-muted"></i></a> <a
                                        class="jp-shuffle-off hid" title="shuffle off"
                                        style="display: none;"><i class="icon-shuffle text-lt"></i></a>
                                </div>
                                <div><a class="jp-repeat" title="repeat"><i
                                        class="icon-loop text-muted"></i></a> <a
                                        class="jp-repeat-off hid" title="repeat off"
                                        style="display: none;"><i class="icon-loop text-lt"></i></a>
                                </div>
                                <div class="hide"><a class="jp-full-screen" title="full screen"><i
                                        class="fa fa-expand"></i></a> <a class="jp-restore-screen"
                                                                         title="restore screen"
                                                                         style="display: none;"><i
                                        class="fa fa-compress text-lt"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="jp-playlist dropup" id="playlist">
                        <ul class="dropdown-menu aside-xl dker" style="display: block;">
                            <li class="jp-playlist-current">
                                <div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a
                                        href="javascript:;"
                                        class="jp-playlist-item jp-playlist-current" tabindex="1">Bubble
                                    <span class="jp-artist">by Miaow</span></a></div>
                            </li>
                            <li>
                                <div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a
                                        href="javascript:;" class="jp-playlist-item" tabindex="1">Lentement
                                    <span class="jp-artist">by Miaow</span></a></div>
                            </li>
                            <li>
                                <div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a
                                        href="javascript:;" class="jp-playlist-item" tabindex="1">Partir
                                    <span class="jp-artist">by Miaow</span></a></div>
                            </li>
                        </ul>
                    </div>
                    <div class="jp-no-solution hide" style="display: none;">
                        <span>Update Required</span> To play the media you will need to either
                        update your browser to a recent version or update your <a
                            href="http://get.adobe.com/flashplayer/" target="_blank">Flash
                        plugin</a>.
                    </div>
                </div>
            </div>
        </footer>
    </section>
</section>
