<script>
function search() {

      // Retrieve the input field text and reset the count to zero
      var filter = $('#filter').val().toUpperCase().trim();

      // Loop through the comment list
      tags = document.getElementById("tags");
      var lis = tags.getElementsByTagName('li');
      for (i = 0; i < lis.length; i++) {
        tag = lis[i].getElementsByTagName("div");

        // If the list item does not contain the text phrase fade it out
        if (tag[0].id.toUpperCase().trim().indexOf(filter) < 0) {
          $('#' + lis[i].id).hide();
        } else {
          $('#' + lis[i].id).show();
        }

      }

    }
</script>
<aside class="aside-md bg-light dk" id="sidebar">
    <section class="vbox animated fadeInRight">
        <section class="w-f-md scrollable hover"><h4 class="font-thin m-l-md m-t">Connected</h4>
            <ul id= "tags" class="list-group no-bg no-borders auto m-t-n-xxs">
              <% @tags_sidebar.each do |tag| -%>
                <li id='li-<%=tag.value%>'class="list-group-item"><span
                        class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm"> <img
                        src="/images/tag.png" alt="..."
                        class="img-circle"></span>
                    <div id="<%= tag.value %>"class="clear">
                        <div>
                          <%= link_to tag.value, tag_path(tag.id)%>
                        </div>
                        <small class="text-muted"><%= tag.value %></small>
                    </div>
                </li>
              <% end %>
            </ul>
        </section>
        <footer class="footer footer-md bg-black">
            <form class="" role="search">
                <div class="form-group clearfix m-b-none">
                    <div class="input-group m-t m-b"><span class="input-group-btn"> <button
                            type="submit" class="btn btn-sm bg-empty text-muted btn-icon"><i
                            class="fa fa-search"></i></button> </span> <input type="text"
                                                                              id ="filter"
                                                                              class="form-control input-sm text-white bg-empty b-b b-dark no-border"
                                                                              placeholder="Search tags..."
                                                                              onkeyup="search()">
                    </div>
                </div>
            </form>
        </footer>
    </section>
</aside>
