<aside class="aside-md bg-light dk" id="sidebar">
    <section class="vbox animated fadeInRight">
        <section class="w-f-md scrollable hover"><h4 class="font-thin m-l-md m-t">Connected</h4>
            <ul class="list-group no-bg no-borders auto m-t-n-xxs">
              <% @tags_sidebar.each do |tag| -%>
                <li class="list-group-item"><span
                        class="pull-left thumb-xs m-t-xs avatar m-l-xs m-r-sm"> <img
                        src="/images/tag.png" alt="..."
                        class="img-circle"></span>
                    <div class="clear">
                        <div><a href="#"><%= tag.value %></a>
                        </div>
                        <small class="text-muted"><%= tag.value %></small>
                    </div>
                </li>
              <% end %>
            </ul>
        </section>
        <footer class="footer footer-md bg-black">
            <form class="" role="search">
                <div class="form-group clearfix m-b-none">
                    <div class="input-group m-t m-b"><span class="input-group-btn"> <button
                            type="submit" class="btn btn-sm bg-empty text-muted btn-icon"><i
                            class="fa fa-search"></i></button> </span> <input type="text"
                                                                              class="form-control input-sm text-white bg-empty b-b b-dark no-border"
                                                                              placeholder="Search tags">
                    </div>
                </div>
            </form>
        </footer>
    </section>
</aside>
